:root {
  --coreFont: "Rajdhani", -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica,
    Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  --secondaryFont: "Orbitron", Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;

  /* DARK FALLBACK */
  --clrPrimary: oklch(0.6565 0.2298 24.01);
  --clrSecondary: oklch(0.8965 0.1273 200.71);
  --clrBg: oklch(0.1685 0.0187 284.21);

  --clrHeading: var(--clrSecondary);
  --clrText: var(--clrPrimary);
  --clrTextMuted: oklch(0.5208 0 0);

  /* DERIVATIVES */
  --clrEleBg: oklch(from var(--clrBg) l c h / 0.8);

  --clrEleBorderIdle: oklch(from var(--clrPrimary) l c h / 0.3);
  --clrEleBorderHover: var(--clrPrimary);
  --clrEleBorderEnabled: var(--clrPrimary);
  --clrEleBorderClicked: var(--clrPrimary);

  --clrEleTrimIdle: oklch(from var(--clrPrimary) l c h / 0.1);
  --clrEleTrimHover: oklch(from var(--clrPrimary) l c h / 0.4);

  --clrEleOverlayHover: oklch(from var(--clrPrimary) l c h / 0.1);
  --clrEleOverlayEnabled: oklch(from var(--clrPrimary) l c h / 0.4);
  --clrEleOverlayClicked: oklch(from var(--clrPrimary) l c h / 0.7);
}

/* CORE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: var(--coreFont);
  font-size: 62.5%;
  color: var(--clrText);
  background-color: var(--clrBg);
}
body {
  font-size: 1.6rem;
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  padding: 0 1.6rem;
}
header,
main {
  padding: 1.6rem 0;
}
header {
  flex-shrink: 0;
  font-weight: 700;
  text-align: center;
  opacity: 0.3;
}
main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/**/
/* NORMALIZE*/
button {
  all: unset;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--coreFont);
  font-weight: 500;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
/**/
/* TOOLBAR */
#toolbar {
  position: fixed;
  top: 50%;
  left: 1rem;
  width: fit-content;
  padding: 1px;
  background-color: var(--clrEleBorderIdle);
  transform: translateY(-50%);
  z-index: 1000;
  clip-path: polygon(
    0 0.6rem,
    0.2rem 0.4rem,
    1.6rem 0.4rem,
    2rem 0,
    100% 0,
    100% calc(100% - 2rem),
    calc(100% - 2rem) 100%,
    1rem 100%,
    0 calc(100% - 1rem)
  );
}
#toolbar:hover,
#toolbar:has(:focus-visible) {
  background-color: var(--clrEleBorderHover);
}
#toolbar-inner {
  display: flex;
  gap: 0.2rem;
  background-color: var(--clrBg);
  clip-path: polygon(
    0 0.6rem,
    0.2rem 0.4rem,
    1.6rem 0.4rem,
    2rem 0,
    100% 0,
    100% calc(100% - 2rem),
    calc(100% - 2rem) 100%,
    1rem 100%,
    0 calc(100% - 1rem)
  );
}
#toolbar-left {
  flex-shrink: 0;
  width: 3rem;
  background: var(--clrEleBorderIdle);
  padding-right: 1px;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 3rem,
    calc(100% - 0.3rem) 3.3rem,
    calc(100% - 0.3rem) calc(100% - 3rem),
    100% calc(100% - 2.7rem),
    100% 100%,
    0 100%
  );
}
#toolbar-left-inner {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--clrBg);
  clip-path: polygon(
    0 0,
    100% 0,
    100% 2.95rem,
    calc(100% - 0.3rem) 3.25rem,
    calc(100% - 0.3rem) calc(100% - 2.95rem),
    100% calc(100% - 2.65rem),
    100% 100%,
    0 100%
  );
}
#toolbar-left-inner::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--clrEleTrimIdle);
}
#toolbar:hover #toolbar-left-inner::before,
#toolbar:has(:focus-visible) #toolbar-left-inner::before {
  background: var(--clrEleTrimHover);
}
#toolbar-right {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 1.6rem;
  border-left: 1px solid var(--clrEleBorderIdle);
}
.setting {
  position: relative;
  padding: 1px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  color: var(--clrPrimary);
  text-transform: uppercase;
  background: var(--clrEleBorderIdle);
  cursor: pointer;
  clip-path: polygon(
    0 0,
    2.4rem 0,
    2.6rem 0.2rem,
    100% 0.2rem,
    100% calc(100% - 0.4rem),
    calc(100% - 0.4rem) 100%,
    0 100%
  );
}
.setting:hover,
.setting:focus-visible {
  background: var(--clrEleBorderHover);
}
.setting:active {
  color: var(--clrBg);
}
.setting[aria-checked="true"] {
  background: var(--clrEleBorderEnabled);
}
.setting > span {
  position: relative;
  display: block;
  padding: 0.8rem 3.5rem 0.4rem 4rem;
  background: var(--clrBg);
  clip-path: polygon(
    0 0,
    2.25rem 0,
    2.45rem 0.2rem,
    100% 0.2rem,
    100% calc(100% - 0.35rem),
    calc(100% - 0.35rem) 100%,
    0 100%
  );
}
.setting > span::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: -1;
}
.setting:hover > span::before,
.setting:focus-visible > span::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--clrEleOverlayHover);
  z-index: -1;
}
.setting:active > span::before {
  background: var(--clrEleOverlayClicked);
}
.setting[aria-checked="true"] > span::before {
  background: var(--clrEleOverlayEnabled);
}
.setting svg {
  position: absolute;
  top: 50%;
  left: 0.8rem;
  height: 2rem;
  width: 2rem;
  transform: translateY(-50%);
}
.setting .padding-value {
  position: absolute;
  bottom: 0.4rem;
  right: 0.8rem;
  font-size: 1.4rem;
  color: var(--clrPrimary);
  transition: color 0.2s ease-in-out;
}
.setting .padding-value.highlight {
  color: var(--clrSecondary);
  transition: none;
}
/**/
/* CANVAS */
#canvas {
  min-width: 52rem;
  max-width: 92rem;
  transition: padding 0.2s ease-in-out;
  outline: 1px solid red;
}
#card {
  height: 100%;
  padding: 1px;
  background-color: var(--clrEleBorderIdle);
  clip-path: polygon(
    0 0.6rem,
    0.2rem 0.4rem,
    1.6rem 0.4rem,
    2rem 0,
    100% 0,
    100% calc(100% - 2rem),
    calc(100% - 2rem) 100%,
    1rem 100%,
    0 calc(100% - 1rem)
  );
}
#card-inner {
  display: flex;
  gap: 0.2rem;
  height: 100%;
  background-color: var(--clrBg);
  clip-path: polygon(
    0 0.6rem,
    0.2rem 0.4rem,
    1.6rem 0.4rem,
    2rem 0,
    100% 0,
    100% calc(100% - 2rem),
    calc(100% - 2rem) 100%,
    1rem 100%,
    0 calc(100% - 1rem)
  );
}
#card-trim {
  flex-shrink: 0;
  width: 3rem;
  background: var(--clrEleBorderIdle);
  padding-right: 1px;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 3rem,
    calc(100% - 0.3rem) 3.3rem,
    calc(100% - 0.3rem) calc(100% - 3rem),
    100% calc(100% - 2.7rem),
    100% 100%,
    0 100%
  );
}
#card-trim-inner {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--clrBg);
  clip-path: polygon(
    0 0,
    100% 0,
    100% 2.95rem,
    calc(100% - 0.3rem) 3.25rem,
    calc(100% - 0.3rem) calc(100% - 2.95rem),
    100% calc(100% - 2.65rem),
    100% 100%,
    0 100%
  );
}
#card-trim-inner::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--clrEleTrimIdle);
}
#card-content {
  flex-grow: 1;
  display: flex;
  padding: 1.6rem;
  border-left: 1px solid var(--clrEleBorderIdle);
}
#card-editable {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
#card-content input {
  all: unset;
  flex-shrink: 0;
  display: block;
  width: 100%;
  line-height: 1em;
  color: var(--clrTextMuted);
}
#card-content input::placeholder {
  color: var(--clrTextMuted);
}
#card-content textarea {
  all: unset;
  flex-grow: 1;
  display: block;
  resize: none;
}
* {
  outline: 1px solid red;
}
